<div class="editbar light">
    <div class="inner">
        <div class="top">
            <a class="logo" href="{{ path('view.content_overview.wm_overview') }}">
                <img src="{{ logo }}">
            </a>
            {{ links }}
            <div class="actions">
                <p>{% trans %}Welcome back{% endtrans %}, <b>{{ username }}</b> (<i><a href="{{ path('user.logout') }}">{% trans %}Log out{% endtrans %}</a></i>)</p>
                {% if version is not empty %}
                  <div class="version">
                    <b>{{ version }}</b>
                    <span>{{ versionDate|date('d-m-Y H:i:s') }}</span>
                  </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
